.mainMurkup {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: rgb(20, 172, 172);
  display: flex;

}
.descriptionMurkup {
  top: 5%;
  position: relative;
  width: 40%;
  height: 100%;
  margin-right: 5%;

}
.animationMurkup {
  position: relative;
  width: 60%;
  height: 80%;
  background-image: url("./img/piskel1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  bottom: 1%;
  right: 3%;
}
.sectionHeader {
  left: 8%;
  position: relative;
  width: 80%;
  height: 10%;
  border: 50%;
  background:
linear-gradient(170deg, transparent 80%, #91CBCF 30%) ,
linear-gradient(156deg, transparent 68%, #E3D9C3 30%),
linear-gradient(135deg, transparent 60%, #91CBCF 30%),
linear-gradient(115deg, transparent 55%, #E3D9C3 30%),
linear-gradient(65deg, transparent 45%, #91CBCF 30%),
linear-gradient(45deg, transparent 40%, #E3D9C3 30%),
linear-gradient(24deg, transparent 32%, #91CBCF 30%),
linear-gradient(10deg, transparent 20%, #E3D9C3 20%),
linear-gradient(0deg, transparent 0%,  #91CBCF 0%);
background-position: center;
background-size: 100% 100%;
}
.p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-family: bold;
  text-align: center;
  word-wrap: break-word;
}
.pp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-family: bold;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 5px;
}
.ppp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-family: bold;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 5px;
}
.pppp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-family: bold;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 5px;
}
.sectionMain {
  position: relative;
  left: 8%;
}
.ul {
  left: 8%;
  position: relative;
  font-size: 18px;
  font-weight: bold;
}
.li {
  margin-bottom: 10px;
}
.ppppp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-family: bold;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 5px;
}
.footer {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
}
.pppppp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-family: bold;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 5px;
  color: gold;
}
.gif {
  left: 10%;
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
}
.gif1 {
  position: relative;
  width: 20%;
  height: 100%;
  background-image: url('./img/mygif.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10%;
}
.gif2 {
  position: relative;
  width: 20%;
  height: 100%;
  background-image: url('./img/2.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10%;
}
.gif3 {
  position: relative;
  width: 20%;
  height: 100%;
  background-image: url('./img/3.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.button1 {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 10px 10px;
  position: relative;
  color: white;
  border: 1px solid rgba(255,255,255,.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  left: 35%;
}
.button1:before,
.button1:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.button1:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.button1:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.button1:hover:before,
.button1:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.button1:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.button1:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.button1:hover {background: rgba(255,255,255,.2);}



.exportGif {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 30px 1px;
  position: relative;
  color: white;
  border: 1px solid rgba(255,255,255,.4);
  background: none;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  width: 25%;
}
.exportGif:before,
.exportGif:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.exportGif:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.exportGif:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.exportGif:hover:before,
.exportGif:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.exportGif:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.exportGif:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
.exportGif:hover {background: rgba(255,255,255,.2);}
